@import '@/scss/variable.scss';

.login {
  background: $background;
  height: 100%;
  position: relative;
  :global(.input-wrapper){
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
  }
}

.content{
  width: 307px;
  margin: 0 auto;
}


.protocol{
  color: $text-dark-slate-blue;
  font-size: 12px;
  padding-top: 48px;
  text-align: center;
  font-weight: 400;
}
.protocol-text{
  color: $color-primary;
}
