@import '@/scss/variable.scss';

.position{
  background-color: #F7F7F7;
  padding-bottom: 120px;
}
.header{
  width: 100%;
  background-color: $color-white;
  margin-bottom: 20px;
}
.header-top {
   border-bottom: 1Px solid #F7F7F7;
   margin: 0 auto;
   width: 351px;
   padding: 10px 0;
}
.header-bottom{
  margin: 0 auto;
  width: 351px;
  padding: 10px 0;
}
.title{
  font-size: 16px;
  font-weight: 600;
  color: $text-primary;
}
.money{
  padding: 10px 0;
  margin: 0;
  font-size: 16px;
}
.price{
  color:$text-orange-red;
  font-weight: 600;
  &_count{
    font-size: 16px;
  }
  &_unit{
    font-size: 12px;
  }
}
.subsidy{
  padding: 2px 5px;
  background: $background-orange;
  box-shadow: 0px 2px 11px 0px rgba(23, 43, 98, 0.07);
  border-radius: 100px 100px 100px 2px;
  color:$color-white;
  margin-left: 12px;
  &_count{
    font-size: 16px;
  }
  &_unit{
    font-size: 10px;
  }
}
.tags{
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
  &-item{
    font-weight: 400;
    color: $color-orange;
    line-height: 14px;
    font-size: 12px;
    text-shadow: 0px 2px 11px rgba(23, 43, 98, 0.07);
    box-shadow: 0px 2px 11px 0px rgba(23, 43, 98, 0.07);
    border-radius: 2px;
    border: 1px solid rgba(255, 160, 80, 0.36);
    padding: 2px 5px;
    margin-right: 5px;
  }
}
.img{
  width: 32px;
  vertical-align: middle;
}
.name {
  font-size: 14px;
  font-weight: 400;
  color: $text-primary;
  padding-left: 10px;
}
.content{
  width: 100%;
  background-color: $color-white;
  padding: 10px 0;
}

.item{
  width: 351px;
  margin: 10px auto;
  border-radius: 12px;
  border: 1px solid $color-primary;
  box-sizing: border-box;
}
.item-header{
  background: $color-medium-purple;
  padding: 10px;
  box-sizing: border-box;
  border-top: $color-primary;
  border-radius: 13px 13px 0 0;
  position: relative;
  &:after {
    content: '';
    width: 6px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    position: absolute;
    left: 0;
    background-color: $color-primary;
  }
}
.item-body{
  border-top: 1px solid $color-primary;
  display: flex;
  background-color: $color-white;
  justify-content: flex-start;
  border-bottom:$color-primary; ;
}
.item-body:last-child{
  border-radius: 0 0 13px 13px;
}
.item-body-label{
  width: 60px;
  height: 20px;
  padding: 10px 10px;
  font-size: 14px;
  font-weight: 500;
  color: $text-primary;
  
}
.item-body-text{
  width: 260px;
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  border-left: 1px solid $color-primary;
  color: $text-dark-slate-blue;
  word-break: break-all;
}
.bottom{
  width: 100%;
  height: 58px;
  position: fixed;
  bottom: 0;
  z-index: 111;
  display: flex;
  justify-content: space-around;
  background-color: $color-white;
  align-items: center;
}
.bottom-btn{
  background: $button-background;
  box-shadow: $box-shadow;
  width: 175px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  border-radius: 23px;
  color: $color-white;
}
.icon {
  width: 82px;
  color: $text-primary;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.icon-item{
  width: 32px;
  margin: 0 auto;
}