
@import '@/scss/variable.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 44Px;
  padding: 0 24Px;
  border-radius: $border-radius;
  border: 1Px solid $color-primary;
  background-color: $color-primary;
  color: $color-white;
  font-size: 16Px;
}

.ghost {
  background-color: transparent;
  color: $color-primary;
}

.round {
  border-radius: 22Px;
}

.disabled {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    top: -1Px;
    bottom: -1Px;
    left: -1Px;
    right: -1Px;
    background-color: rgba($color-white, 0.4);
  }
}

.mini {
  height: 32Px;
  padding: 0 12Px;
  font-size: 12Px;
}