@import '@/scss/variable.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 44Px;
  line-height: 44Px;
  padding: 0 24Px;
  box-shadow: $box-shadow;
  border-radius: $border-radius;
  border: 1Px solid $color-primary;
  background: $button-background;
  color: $color-white;
  font-size: 16Px;
  &-ghost {
    background-color: transparent;
    color: $color-primary;
  }
  &-round {
    border-radius: 22Px;
  }
  &-disabled {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: -1Px;
      bottom: -1Px;
      left: -1Px;
      right: -1Px;
      background-color: rgba($color-white, 0.4);
    }
  }
  &-mini {
    height: 32Px;
    padding: 0 12Px;
    font-size: 12Px;
  }

  .activity-indicator {
    display: flex;
    align-items: center;
    margin-right: 10Px;
  }
}