@import '@/scss/variable.scss';

.content{
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 976Px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.img{
  width: 100%;
  height: 60Px;
  margin-bottom: 10px;
  background-image: url(./images/button.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}