@import '@/scss/variable.scss';

.userGift {
    padding-top: 155px;
    padding-bottom: 16px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #FDC06C;
}
.body {
    margin-left: 12px;
    margin-right: 12px;
    padding-top: 16px;
    padding-bottom: 20px;
    border-radius: 12px;
    background: linear-gradient(180deg, #FFF3E2 0%, #FFD48A 100%);;
}
.activityObject {
    position: relative;
    padding-top: 12px;
    margin-left: 12px;
    margin-right: 12px;
    border-radius: 12px;
    padding-bottom: 16px;
    background-color: $color-white;
}
.activityRules {
    position: relative;
    padding-top: 12px;
    padding-bottom: 16px;
    margin: 10px 12px 0px 12px;
    border-radius: 12px;
    background-color: $color-white;
}
.activityObjectHeader {
    position: absolute;
    left: -4Px;
    width: 94px;
    height: 29px;
    background-image: url(./images/label.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
}
.activityHeaderText {
    position: absolute;
    top: 2px;
    margin-left: 15px;
    line-height: 22px;
    font-size: 16px;
    font-weight: 500;
    color: $text-header;
}
.activityText {
    color: $text-lable;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 12px;
}
.img {
    width: 74px;
    height: 24px;
    display: block;
    margin: 20px auto 0px;
}
.removeSag {
    margin-top: 50px;
}
.money {
    color: $text-header;
    font-size: 14px;
    font-weight: 400;
}