@import '@/scss/variable.scss';

.container{
  padding-top: 130px;
  padding-bottom: 65px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.rule{
  position: absolute;
  top: 38px;
  right: 0;
  width: 19px;
  height: 59px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  color: $color-activity-tips;
  padding:5px 4px;
  box-sizing: border-box;
  background: linear-gradient(171deg, #FBF6B5, #FECF78);
  border-radius: 10px 0px 0px 10px;
}
.tipsContainer {
  display: flex;
  justify-content: center;
}
.tips{
  line-height: 25px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background: linear-gradient(0deg, #FAFBBD, #FFCA6F);
  border-radius: 25px;
  color: $color-activity-tips;
  box-sizing: border-box;
}
@keyframes marquee {
  0%{left:100%}
  100%{left: -100%}
}
.marquee {
  min-width: 242Px;
  line-height: 25Px;
  height: 25Px;
  overflow: hidden;
  position: relative;
}
.swiper{
  display: block;
  width: 200%;
  line-height: 25Px;
  height: 25Px;
  position: absolute;
  overflow: hidden;
  animation: marquee 5s linear infinite;
}
.block{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: 0 12px;
  padding: 16px 9px;
  background: $color-white;
  border-radius: 14px;
  :global(.title) {
    width: 100%;
    height: 21px;
    background-position: center;
    background-size: auto 21px;
    background-repeat: no-repeat;
  }
}
.invitation{
  margin-top: 292px;
  :global(.title) {
    background-image: url('./img/activity_title.png');
  }
  :global(.statistics) {
    display: flex;
    width: 100%;
    background: #FFF1F3; 
    border-radius: 10px;
    padding: 11px 0px;
    box-sizing: border-box;
    height: 70px;
    margin-top: 12px;
  }
  :global(.statistics-item) {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-right: 1px solid  #FFD6DC;
    &:last-child {
      border-right: none;
    }
  }
}
.activity {
  margin-top: 12px;
  :global(.title) {
    background-image: url('./img/info_title.png');
  }
  :global(.red-packets) {
    display: flex;
    width: 100%;
  }
  :global(.red-packet-item) {
    flex:1;
  }
  :global(.red-packet-separator) {
    position: relative;
    background-color: #ffd6dc;
    height: 5px;
    margin-top:5px;
    &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: $color-white;
      border: 1px solid #e4cfe0;
    }
  }
  :global(.first) {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    margin-left: 2px;
  }
  :global(.last) {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    margin-right: 2px;
  }
  :global(.red-packet-title) {
    text-align: center;
    font-size: 12px;
    margin-top:8px;
    color: $color-activity-text;
  }
  :global(.red-packet) {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 8px;
    flex: 1;
    height: 85px;
    background-image: url('./img/money.png');
    background-position: center;
    background-size: 60px auto;
    background-repeat: no-repeat;
    font-size: 12px;
    line-height: 22px;
    color: $color-white;
  }
}
.info-count{
  margin-top:16px;
  line-height: 13px;
  font-size: 14px;
  color: $color-activity-text;
}
.info-process{
  display: flex;
  width: 333px;
  height: 70px;
  background: $color-progress-bg ;
  border-radius: 10px;
  margin-top:16px;
  line-height: 13px;
  font-size: 14px;
  padding:11px 12px;
  box-sizing: border-box;
  color: $color-activity-text;
}
.invitation-activity{
  top: 715px;
}
.activity-process{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 28px);
  margin-top:16px;
}
.activity-process-item{
  width: 60px;
  height:86px;
  background-image: url('./img/money.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 5px;
  box-sizing: border-box;
  font-size: 12px;
  color: $color-white;
}
.process-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100%;
  border-right:1px solid #FFD6DC;
  &:last-child{
    border-right:none;
  }
}
.process-title{
  font-size: 12px;
  opacity: 0.6;
}
.process-count{
  font-size: 14px;
  font-weight: 500;
}
.reward{
  margin-top:16px;
  width: 171px;
  padding-left: 40px;
  line-height: 30px;
  font-size: 14px;
  color: $color-white;
  background-image: url('./img/reward.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.button{
  width: 120px;
  height:30px;
  margin-top:16px;
  margin-bottom: 16px;
  background-image: url('./img/button.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.activity-title{
  width: 284px;
  height: 22px;
  margin:0 auto;
  margin-top:16px;
  background-image: url('./img/activity_title.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
.activity-button{
  display: flex;
  justify-content: space-between;
  margin-top:30px;
  margin-bottom: 12px;
  width: calc(100% - 28px);
}
.activity-button-h5{
  display: flex;
  justify-content: center;
  margin-top:30px;
  margin-bottom: 12px;
  width: calc(100% - 28px);
}
.activity-button-save{
  width: 140px;
  height:40px;
  background: linear-gradient(6deg, #E41A2D, #FF7D43);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
  line-height: 40px;
  text-align: center;
}
.activity-button-share{
  width: 140px;
  height:40px;
  background-image: url('./img/share.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 30Px;
  margin:0Px !important;
}
.activity-button-saveH5{
  width: 200px;
  height:40px;
  background: linear-gradient(6deg, #E41A2D, #FF7D43);
  border-radius: 20px;
  font-size: 16px;
  font-weight: 400;
  color: $color-white;
  line-height: 40px;
  text-align: center;
}
