@import '@/scss/variable.scss';

.tabs{
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.tab-content{
  overflow-y: hidden;
  display: flex;
  justify-content: space-around;
}
.tab-horizontal{
  display: inline-block;
}
.tab-item{
  font-size: 14px;
  padding: 6Px 16Px;
  color: $text-primary;
  line-height: 20px;
}
.tab-item-active{
  font-weight: 600;
  line-height: 22px;
}
.tab-item-inactive{
  font-size: 14px;
  line-height: 20px;
}
.tab-line{
  height:2Px;
  background: rgb(37, 22, 22);
  display: block;
}
.panel-content{
  width: 100%;
  height: 100%;
  // overflow-y: auto;
}
.tab-panel{
  height: 100%;
  overflow-y: auto;
}