@import '@/scss/variable.scss';
.content{
  background-color: $color-white;
}
.item{
  display: flex;
  padding: 15px;
}
.item-left {
  height: 48px;
  width: 48px;
  position: relative;
}
.img{
  width: 48px;
  height: 48px;
}
.badge{
  position: absolute;
  border-radius: 7px;
  border: 1px solid $color-white;
  background-color: $color-orange-red;
  color: $color-white;
  padding: 0px 4px;
  font-size: 12px;
  display: inline-block;
  z-index: 11;
  right: -8px;
}
.item-right {
  width: 100%;
  padding-left: 20px;
}
.type{
  color: $text-primary;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  line-height: 25px;
  justify-content:space-between;
}
.message{
  color: $text-dark-slate-blue;
  font-size: 14px;
  font-weight: 400;
}
.time {
  color: $text-dark-slate-blue;
  font-size: 14px;
  font-weight: 400;
}