@import '@/scss/variable.scss';

.swiper {
  width: 100%;
  position: relative;
}
.content{
  width: 100%;
  height: 100%;
}
.img{
  width: 100%;
  height: 100%;
}
.dots{
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  display: flex;
  z-index: 10;
  justify-content: center;
  &.left{
    left: 70px;
  }
  &-dot{
    width: 11px;
    height: 4px;
    background: #80A2FF;
    margin-left: 5px;
    border-radius: 2px;
    
  }
  &-dot_active{
    width: 4px;
    height: 4px;
    background: #CBCED8;
    border-radius: 4px;
    margin-left: 5px;
  }
}