@import '@/scss/variable.scss';

.workbench{
  background: $color-white;
  border-radius: 12Px;
  box-sizing: border-box;
  padding-top: 16Px;
  padding-right: 12Px;
  margin-bottom: 8Px;
}
.title{
  width: 48Px;
  font-size: 16Px;
  font-weight: 600;
  color: $text-primary;
  line-height: 22Px;
  margin-left: 12Px;
  margin-bottom: 14Px;
}
.workbench-item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0px 12Px;
}
.icon-wrapper{
  position: relative;
  width: 36Px;
  height: 36Px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}
.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25%;
  margin-bottom: 20Px;
}
.icon{
  height: 36Px;
  background-position: center;
}
.icon-tips{
  position: absolute;
  top: 0;
  left: 50%;
  font-size: 10Px;
  font-weight: 600;
  white-space: nowrap;
  background: linear-gradient(227deg, $color-orange 0%, $color-orange-red, 100%);
  border-radius: 100px 100px 100px 1px;
  color: $color-white;
  line-height: 14Px;
  padding:0px 4Px;
  box-sizing: border-box;
  transform: translateY(-100%);
  
}
.subTitle{
  height: 20Px;
  font-size: 12Px;
  color:$text-primary;
  line-height: 20Px;
  display: inline-block;
}
.hide{
  height: 1Px;
  background: $color-white;
  border-radius: 12Px;
  margin-left:12Px;
  margin-bottom: 9Px;
}