@import '@/scss/variable.scss';
.list {
  background: $color-white;
  border-radius: 12px;
  display: flex;
  justify-content: flex-start;
  padding: 16px 0;
  width: 351px;
  margin: 10px auto;
}
.content {
  width: 230px;
  position: relative;
}
.title{
  color: $text-primary;
  font-size: 16px;
  font-weight: 600;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.money{
  padding: 2px 0;
  margin: 0;
  font-size: 16px;
}
.price{
  color:$text-orange-red;
  &_count{
    font-size: 16px;
  }
  &_unit{
    font-size: 12px;
  }
}
.subsidy{
  padding: 2px 4px 2px 2px;
  background: linear-gradient(227deg, #FFA050 0%, #FF5E5E 100%);
  border-radius: 100px 100px 100px 2px;
  color:$color-white;
  margin-left: 4px;
  &_count{
    font-size: 16px;
  }
  &_unit{
    font-size: 10px;
  }
  &_award{
    font-size: 10px;
  }
  &_money{
    font-size: 12px;
    font-weight: 600;
  }
}
.tags{
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
  &-item{
    font-weight: 400;
    color: #FFA050;
    line-height: 14px;
    font-size: 10px;
    border-radius: 2px;
    border: 1px solid rgba(255, 160, 80, 0.36);
    padding: 1px 2px;
    margin-right: 5px;
    word-break: break-all;
  }
}
.location{
  font-size: 12px;
  font-weight: 400;
  color: $text-subTitle;
  padding-top: 10px;
  line-height: 17px;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  bottom: 0;
}
.img {
  margin: 0 10px 0 12px;
  width: 106px;
  height: 106px;
  border-radius: 8px;
}
.sign{
  width: 70px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  position: absolute;
  right: 12px;
  bottom: 1px;
  font-size: 12px;
  font-weight: 500;
  color: $color-white;
  text-shadow: 0PX 2PX 11PX rgba(23, 43, 98, 0.07), 0PX 2PX 5PX rgba(128, 162, 255, 0.35);
  background: $button-background;
  box-shadow: 0px 2px 11px 0px rgba(23, 43, 98, 0.07), 0px 2px 5px 0px rgba(128, 162, 255, 0.35);
  border-radius: 14px;
}