.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.list{
  border-radius: 12px 12px 0px 0px;
  padding-top: 15px;
  margin-top: -10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: sticky;
  top:0;
  z-index: 100;
  :global(.tabs) {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  :global(.tab-content.icon){
    margin: 0 auto;
  }
}
