@import '@/scss/variable.scss';
.content{
  background-color: #F4F6FE ;
  height: 100%;
}
.item {
  width: 313px;
  margin: 20px auto;
  background-color: $color-white;
  border-radius: 8px;
  padding: 15px;
}
.type {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: $text-subTitle;
  line-height: 20px;
}
.price {
  text-align: center;
  color: $text-primary;
  padding-bottom: 15px;
}
.unit {
  font-size: 19px;
  vertical-align: text-bottom;
}
.money {
  font-size: 36px;
  font-weight: 600;
}
.title {
  color: $text-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.list {
  display: flex;
  line-height: 30px;
  justify-content: flex-start;
}
.label {
  width: 60px;
  font-size: 14px;
  font-weight: 400;
  color: $text-subTitle;
}
.text {
  padding-left: 20px;
  color: $text-primary;
  font-size: 14px;
  font-weight: 400;
}
.remindColor {
  color: #EF6060 ;
}
.badge{
  height: 6px;
  width: 6px;
  display: inline-block;
  background-color: $color-orange-red;
  vertical-align: text-top;
  border-radius: 10px;
}