@import '@/scss/variable.scss';

.logo {
  width: 180px;
  margin: 66px auto;
}
.img {
  width: 128px;
  margin: 0 auto;
  display: block;
}
.text{
  color: $text-darkSlateBlue;
  font-size: 16px;
  font-weight: 400;
}