@import '@/scss/variable.scss';

.container{
  :global(.input-wrapper){
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: none;
    border-radius: 0Px;
    padding:20Px 0Px;
    line-height: 22Px;
    justify-content: space-between;
  }
  :global(.form-item){
    box-sizing: border-box;
    margin-bottom: 0Px;
  }
  :global(.form-item-label){
    width: auto !important;
    word-spacing: 28Px;
  }
  :global(input){
    text-align: right;
  }
  :global(.modal-body){
    width: auto ;
    left:42Px;
    right:42Px;
    border-radius: 12Px;
    top:132Px;
    height:204Px ;
    min-height: 0px;
  }
}
.verify-code{
  :global(input){
    text-align: left;
  }
}
.form{
  padding: 0Px 16Px 16Px 16Px;;
}
.tips{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top:8Px;
}
.label-text{
  font-size: 16Px;
  color: $text-primary;
  line-height: 22Px;
  height: 22Px;
}
.tips-text{
  margin-left:8Px;
  font-size: 12Px;
  font-weight: 400;
  color: $text-tertiary;
  line-height: 17Px;
}
.button{
  width: 330Px;
  height: 44Px;
  background: $color-primary;
  border-radius: 25Px;
  font-size: 18Px;
  font-weight: 400;
  color: $color-white;
  margin-top: 62Px;
  display:block;
}
.inactive{
  opacity: 0.5;
}
.active{
  opacity: 1;
}
.dialog-title{
  font-size: 18Px;
  font-weight: 500;
  color:$text-lable;
  line-height: 25Px;
  text-align: center;
  margin-top:26Px;
}
.dialog-tips{
  font-size: 14Px;
  color: $text-tertiary;
  line-height: 20Px;
  text-align: center;

}
.dialog-img{
  width: 50Px;
  height:50Px;
  margin-top:38Px;
}
.dialog-subtitle{
  font-size: 18px;
  color: $text-lable;
  line-height: 18px;
  margin-top:12Px;
}
.dialog-content{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}
