.result {
  text-align: center;
  padding-top: 14px;
}
.result-space {
  padding: 12px 0;
}
.result-title {
  font-size: 18px;
  font-weight: 600;
  color: #061748;
}

.result-subTitle {
  font-size: 16px;
  font-weight: 400;
  color: #8F929D;
  padding: 0 48px;
}
.result-btn {
  width: 180px;
  height: 42px;
  margin: 0 auto;
}