@import '@/scss/variable.scss';
.list {
  background: $color-white;
  box-shadow: 0px 2px 11px 0px rgba(153, 153, 153, 0.07);
  border-radius: 12px;
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  width: 351px;
  margin: 10px auto;
}
.content {
  width: 210px;
  position: relative;
}
.title{
  color: $text-primary;
  font-size: 16px;
  font-weight: 600;
  display: block;
}
.money{
  padding: 5px 0;
  margin: 0;
  font-size: 16px;
}
.price{
  color:$text-red;
  &_count{
    font-size: 16px;
  }
  &_unit{
    font-size: 12px;
  }
}
.subsidy{
  padding: 2px 5px;
  background: linear-gradient(227deg, #FFA050 0%, #FF5E5E 100%);
  box-shadow: 0px 2px 11px 0px rgba(23, 43, 98, 0.07);
  border-radius: 100px 100px 100px 2px;
  color:$color-white;
  margin-left: 12px;
  &_count{
    font-size: 16px;
  }
  &_unit{
    font-size: 10px;
  }
}
.tags{
  display: flex;
  justify-content: flex-start;
  padding: 5px 0;
  &-item{
    font-weight: 400;
    color: #FFA050;
    line-height: 14px;
    font-size: 10px;
    text-shadow: 0px 2px 11px rgba(23, 43, 98, 0.07);
    box-shadow: 0px 2px 11px 0px rgba(23, 43, 98, 0.07);
    border-radius: 2px;
    border: 1px solid rgba(255, 160, 80, 0.36);
    padding: 0 2px;
    margin-right: 5px;
  }
}
.location{
  font-size: 12px;
  font-weight: 400;
  color: #8F929D;
  padding-top: 10px;
  line-height: 17px;
  text-shadow: 0px 2px 11px rgba(23, 43, 98, 0.07);
  display: flex;
  justify-content: flex-start;
}
.img {
  width: 106px;
  height: 106px;
}
.sign{
  width: 70px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  position: absolute;
  right: 0;
  bottom: 1px;
  font-size: 12px;
  font-weight: 500;
  color: #FFFFFF;
  text-shadow: 0PX 2PX 11PX rgba(23, 43, 98, 0.07), 0PX 2PX 5PX rgba(128, 162, 255, 0.35);
  background: $button-background;
  box-shadow: 0px 2px 11px 0px rgba(23, 43, 98, 0.07), 0px 2px 5px 0px rgba(128, 162, 255, 0.35);
  border-radius: 14px;
}