@import '@/scss/variable.scss';
.container{
  background: #fff;
  padding: 15px;
  line-height: 1.6;
  text-align: justify;
  color: #5b6975;
  font-size: 14px;
}
.text {
  font-weight: bold;
}
.bold-underline {
  font-weight: bold;
  text-decoration: underline;
}
.mt {
  margin-top: 20px;
}
.mt1 {
  margin-top: 40px;
}
.p_txt {
  margin-top: 20px;
}
.table{
  display: table;
  border: 1px solid #cccccc;
  font-size: 14px;
}
.table-head{
  display: table-row;
  border-collapse: collapse;
  border: 1px solid #586975;
}
.text_center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #cccccc;
}
.text_center>Text{
  font-weight: bold;
}
.table-td{
  width: 230px;
}
.th_left{
  width: 100px;
}
.strong_underline{
  text-decoration: underline;
}