@import '@/scss/variable.scss';
.page{
  background-color: $color-alice-blue;
  height: 100%;
  position: relative;
}
.container {
  flex-direction: column;
  height: calc(100% - 1px);
  background: linear-gradient(178deg, rgba(128, 162, 255, 0.11) 0%, rgba(255, 255, 255, 0) 54%, rgba(255, 255, 255, 0) 100%);
  :global(.tabs) {
    flex: 1;
  }
}
.content{
  height: 100vh;
  overflow-y: scroll;
}

.list{
  border-radius: 12px 12px 0px 0px;
  padding-top: 10px;
  position: sticky;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 11;
  
}
.rebate {
  width: 351px;
  height: 113px;
  margin: 12px auto;
}
.login{
  margin:10Px 10Px 22Px 10Px;
}
.rebate-img {
  width: 100%;
}

.dialog-content {
  width: 100%;
}
.dialog-img {
  width: 120px;
  display: block;
  margin: 0 auto;
}
