@import '@/scss/variable.scss';
.page{
  background-color: $color-alice-blue;
  height: 100%;
  position: relative;
}
.container {
  flex-direction: column;
  overflow:scroll;
  height: 100%;
  background:#F6F8FF;
  box-sizing: border-box;
  :global(.tabs) {
    flex: 1;
  }
}
.wrapper{
  height: 100%;
}
.content{
  height: 100vh;
  overflow-y: scroll;
}

.list{
  padding-top: 10px;
  position: sticky;
  top:0Px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  z-index: 99;
  background:#F6F8FF;
}

.rebate {
  width: 351px;
  height: 113px;
  margin: 12px auto;
}
.login{
  margin:10Px 10Px 22Px 10Px;
}
.rebate-img {
  width: 100%;
}

.dialog-content {
  width: 100%;
}
.dialog-img {
  width: 120px;
  display: block;
  margin: 0 auto;
}
