$color-primary: #80A2FF;
$color-error: #E43700;
$color-warning: #FF830B;
$color-disabled: #F8F8F8;
$color-white: #ffffff;
$color-plain-white: #FAFBFF;
$color-deep-white:#F6F9FF;
$color-medium-slateBlue: #5482FF;
$color-lime-green: #00C802;
$color-lime:#5DD95D;
$color-orange-red:#FF5E5E;
$color-orange: #FFA050;
$color-dark-slate-blue: #454D66;
$color-medium-purple:#F0F4FF;
$color-gary: #F7F7F7;
$color-alice-blue: #F6F8FF;
$color-dot: #AEBADC;
$color-bottom-line: #000000;

$text-primary: #061748;
$text-dark-slate-blue: #454D66;

$text-lable:#333333;
$text-secondary: #666666;
$text-tertiary: #999999;
$text-disabled: #cdcdcd;
$text-orange-red:#FF5E5E;
$text-wages: #FF5E5E;
$text-tags: #FFA050;
$text-subTitle: #8F929D;
$text-header: #CE4E2E;

$border-primary: #F7F7F7;

$border-radius: 4px;
$dialog-border-radius: 12Px;

$button-height: 44Px;
$box-shadow: 0px 2px 5px 0px rgba(128, 162, 255, 0.35);
$text-shadow: 0px 2px 5px rgba(128, 162, 255, 0.35);

$color-activity-text: #4F0606;

$color-progress-bg:#FFF1F3;
$color-activity-tips: #E31814;
$text-active: #222222;


$button-background:linear-gradient(222deg, $color-primary 0%, $color-medium-slateBlue 100%);
$button-background-lime:linear-gradient(222deg, $color-lime 0%, $color-lime-green 100%);
$background:linear-gradient(183deg, $color-plain-white 0%, $color-deep-white 100%);
$background-orange:linear-gradient(183deg, $color-orange 0%, $color-orange-red 100%);

