$color-primary: #80A2FF;
$color-error: #E43700;
$color-warning: #FF830B;
$color-disabled: #F8F8F8;
$color-white: #ffffff;
$color-plainWhite: #FAFBFF;
$color-deepWhite:#F6F9FF;
$color-MediumSlateBlue: #5482FF;
$color-limeGreen: #00C802;
$color-lime:#5DD95D;

$text-primary: #061748;
$text-darkSlateBlue: #454D66;
$text-secondary: #666666;
$text-tertiary: #999999;
$text-disabled: #cdcdcd;
$text-orangeRed:#FF5E5E;

$text-wages: #FF5E5E;
$text-tags: #FFA050;
$text-subTitle: #8F929D;

$border-primary: #F7F7F7;

$border-radius: 4px;
$dialog-border-radius: 12Px;

$button-height: 44Px;
$box-shadow: 0px 2px 5px 0px rgba(128, 162, 255, 0.35);
$text-shadow: 0px 2px 5px rgba(128, 162, 255, 0.35);

$button-background:linear-gradient(222deg, $color-primary 0%, $color-MediumSlateBlue 100%);
$button-background-lime:linear-gradient(222deg, $color-lime 0%, $color-limeGreen 100%);
$background:linear-gradient(183deg, $color-plainWhite 0%, $color-deepWhite 100%);

